.spoiler {
  border: 1px solid black;
  width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.spoiler__box {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.spoiler__header {
  border: 1px solid black;
  font-size: 40px;
}

.spoiler__item {
  /* border: 1px solid black; */
  min-height: 180px;
}

.spoiler__text {
  font-size: 24px;
}

.spoiler__toggle {
  font-size: 24px;
}

.spoiler__text_off {
  display: none;
}

.spoiler__toggle {
  display: inline-block;
}
